<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="storeApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.erpId" for="field_erpId">Erp Id</label>
                    <input type="text" class="form-control" name="erpId" id="field_erpId"
                           formControlName="erpId"/>
                    <div *ngIf="editForm.get('erpId').invalid && (editForm.get('erpId').dirty || editForm.get('erpId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('erpId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.refined" for="field_refined">Refined</label>
                    <input type="checkbox" class="form-control" name="refined" id="field_refined"
                           formControlName="refined"/>
                    <div *ngIf="editForm.get('refined').invalid && (editForm.get('refined').dirty || editForm.get('refined').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('refined').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.herstArtNr" for="field_herstArtNr">Herst Art Nr</label>
                    <input type="text" class="form-control" name="herstArtNr" id="field_herstArtNr"
                           formControlName="herstArtNr"/>
                    <div *ngIf="editForm.get('herstArtNr').invalid && (editForm.get('herstArtNr').dirty || editForm.get('herstArtNr').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('herstArtNr').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price').invalid && (editForm.get('price').dirty || editForm.get('price').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.katalogOnly" for="field_katalogOnly">Katalog Only</label>
                    <input type="checkbox" class="form-control" name="katalogOnly" id="field_katalogOnly"
                           formControlName="katalogOnly"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="storeApp.product.productSubstitution" for="field_productSubstitutions">Product Substitution</label>
                    <select class="form-control" id="field_productSubstitutions" multiple name="productSubstitutions" formControlName="productSubstitutions">
                        <option [ngValue]="getSelected(editForm.get('productSubstitutions').value, productSubstitutionOption)" *ngFor="let productSubstitutionOption of productsubstitutions; trackBy: trackProductSubstitutionById">{{productSubstitutionOption.substitution}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.product.productCategory" for="field_productCategory">Product Category</label>
                    <select class="form-control" id="field_productCategory" name="productCategory" formControlName="productCategoryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
